html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto' !important;
    color: white;
    background-color: rgb(247, 247, 247);
}

body{
    min-width: 930px;
    overflow: auto;
}
.iteh_search_container{
    width: 400px;
}
.iteh_search_container input{
    width: 100%;
    padding-left: 20px;
}

.iteh_search_container input:focus{
    outline: none;
}
.table{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

.body{
    background-size: 100%;
    width: 100%;
    height: 100%;
}
.footer{
    border-top:2px solid white !important; 
    background-color:rgb(119, 15, 15);
    color: whitesmoke;
}

.footer-text{
    margin-top: 5px;
}

.img-background {
    background-image: url("img/4a.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1; /*iza svih elemenata*/
    height: 100%;
    width: 100%;
    opacity: 0.90;
}

.formica{
    text-align: justify;
    color: white;
    background-color: brown;
    width: 50rem;
    margin: auto;
}
#for{
    margin: 3rem;
}
#sub{
    background-color: black;
    color: white;

}
.iteh_login{
    width: 100%;
    height: 100%;
    text-align: center;
}

.iteh_login_container_helper{
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.iteh_login_container{
    width: 200px;
    height: 300px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    background-color: #B85C48;
    color: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.iteh_body_l{
    background-image: url(img/kafa333.jpg);

}
.iteh_login_form{
    display: inline-block;
    vertical-align: middle;
    width: 97%;
}

.iteh_login_input{
    border: 0px;
    height: 30px;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
}

.iteh_login_input:focus{
    outline: none;
    border: 0;
}

.iteh_login_button{
    margin-top: 5px ;
    background-color: #5A5F73;
    height: 30px;
    border-radius: 10px;
    border: 0;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    transition: all 1s;
    cursor: pointer;

}

.iteh_login_button:hover{
    outline: none;
    background-color: white;
    color: #5A5F73;
    transition: all 1s;
}

.iteh_login_error{
    color: indianred;
}

.iteh_header{
    height: 100px;
    width: 100%;
    background-color: rgb(119, 15, 15);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.iteh_header_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.iteh_home{
    padding-top: 150px;
    width: 100%;
    
}
.iteh_product_table{
    margin: 0 auto;
    background-color: rgb(119, 15, 15);
    color: black;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.table td{
    vertical-align: initial !important;
}

.iteh_button{
    border-radius: 3px;
    cursor: pointer;
    background-color: black;
    color: white;
    line-height: 30px;
    padding: 0 5px;
    height: 30px;
    display: inline-block;
    margin: 0 10px;
    width: auto;
}

.iteh_button:hover{
    background-color: #B85C48;
}

.delete_product{
    background-color: indianred;
}
.submit_product{
    background-color: forestgreen;
}

.so{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
}

.iteh_search_container{
    width: 400px;
}
.iteh_search_container input{
    width: 100%;
    padding-left: 20px;
}

.iteh_search_container input:focus{
    outline: none;
}

.iteh_modal{
    width: 400px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -200px;
    background-color: #B85C48;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    text-align: center;
}

.iteh_modal_container{
    display: inline-block;
    width: 97%;
    vertical-align: middle;
}

.iteh_modal_container_input{
    margin-top: 10px;
}

.iteh_modal_helper{
    vertical-align: middle;
    width: 1px;
    height: 100%;
    display: inline-block;
}

.iteh_modal_content{
    width: 100%;
    height: 100%;
    position: relative;
}

.iteh_modal_content_close{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.iteh_modal_delete{
    position: fixed;
    top: 90px;
    left: 50%;
    margin-left: -125px;
    width: 350px;
    height: 100px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #D3D3D3;
    text-align: center;
}

.iteh_label{
    margin-top: 20px;
    display: block;
}

.iteh_button_toolbar{
    margin-top: 20px;
}

